<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4b87d034-f93c-4f46-a749-ff48d4f01b80/resourceGroups/kiddo/providers/Microsoft.ContainerRegistry/registries/kiddo</ResourceId>
    <ResourceName>kiddo</ResourceName>
    <ResourceGroup>kiddo</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://kiddo.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>43689897-4efb-400b-a00f-0c9a686f34ac</ProjectGuid>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>